<div class="main">
  <app-flatplantoolbar class="flatToolbar"></app-flatplantoolbar>
  <div class="layout">
    <dx-load-panel
      [position]="{ of: '#flatplan2' }"
      [closeOnOutsideClick] = "true"
      [(visible)] = "isVisible"
      [showIndicator]="true"
      [showPane]="true"
      [shading]="true"
      [closeOnOutsideClick]="false"
      (onShown)="onShown($event)"
      (onHidden)="onHidden($event)"
      shadingColor="rgba(0,0,0,0.4)">
    </dx-load-panel>

    <div class="publications">
      <div>
<!--          <app-spreadsgallery class="spreadsGallery"></app-spreadsgallery>-->
        <app-lazyspreads></app-lazyspreads>
      </div>
    </div>

    <div class="content" *ngIf="contentVisible==false">
      <dx-scroll-view height="100%" >
      <app-bucketsgrid class="fiftyPercentHeight bucketsGrid"></app-bucketsgrid>
      </dx-scroll-view>

      <dx-scroll-view height="100%" >
      <app-templatesgrid class="fiftyPercentHeight"></app-templatesgrid>
        </dx-scroll-view >
    </div>

  </div>
</div>
