<dx-validation-group #signin>
    <div class="login-header">
        <div class="title">{{appInfo.title}}</div>
        <div>Sign In to your account</div>
        <div class="wrongLogin">{{loginText}}</div>
    </div>
    <div class="dx-field">
        <dx-text-box [elementAttr]="{ id: 'loginField' }" [(value)]="login" placeholder="Login" width="100%" (keyup.enter)="onLoginClick($event)">
            <dx-validator>
                <dxi-validation-rule type="required" message="Login is required"></dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>
    <div class="dx-field">
        <dx-text-box [elementAttr]="{ id: 'passswordField' }" mode="password" [(value)]="password" placeholder="Password" width="100%" (keyup.enter)="onLoginClick($event)">
            <dx-validator>
                <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>

    <div class="dx-field" >
        <dx-button [elementAttr]="{ id: 'loginButton' }" type="default" text="Login" (onClick)="onLoginClick($event)" width="100%"></dx-button>
    </div>

  <dx-load-panel
    [position]="{ of: '#signin' }"
    [(visible)] = "isVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    (onShown)="onShown($event)"
    (onHidden)="onHidden($event)"
    shadingColor="rgba(0,0,0,0.4)">
  </dx-load-panel>

</dx-validation-group>
