<div class="scrollable" (click)="onGalleryClick()" >

  <div id="spreadGallery" class="gallery" >



    <div draggable="true"  id ='spread{{item.id}}' class="gallery-item double" *ngFor="let item of data | paginate: { itemsPerPage: itemsPerPage, currentPage: p2 }; index as i"
         [class.selection]= "item.isSelected" [class.page-right]="item.pages.length==1 && item.pages[0].orientation==1" (dragstart)="onDragStart($event, i)" (dragend)="onDragEnd($event)"
         (dragover)="allowDrop2($event)" (drop)="onDrop($event, i)" (dragleave)="onDragLeave($event)" (dragexit)="onDragLeave($event)" (click)="onClick($event, item)">

      <div id = 'page{{item.id}}{{page.id}}' class="page height298" *ngFor="let page of item.pages; first as isFirst; last as isLast" [class.border-right]="isFirst && !isLast"
           (dragover)="allowDropOnPage($event)" (dragend)="onDragEnd($event)" (dragleave)="onDragLeave($event)"
           (drop)="onDropOnPage($event, item.id, page.id)"
           title="Document: {{item.docId}}, spread: {{item.spreadId}}, page: {{page.id}}">



<div style="display: inline-flex">
        <img id="leftPage" [class.hide]="!(page.orientation==0 || (isFirst && item.pages.length>1))" src="/assets/img/leftpage.png" class="image-left" />
      <div #templateLabel id="templateBox{{item.id}}_{{page.id}}" class="templateBox">

      </div>
  <dx-context-menu
    [dataSource]="items"
    [width]="200"
    target="#page{{item.id}}{{page.id}}"
    (onItemClick)="itemClick($event, item.id, page.id)"
    >

  </dx-context-menu>
<!--  <div style="background-color: black; color: white; width: 12px" >X</div>-->
        <img id="righPage" [class.hide]="!(page.orientation==1 || (isLast && item.pages.length>1))" src="/assets/img/rightpage.png" class="image-right"/>
</div>
        <div id="0" *ngIf="page.pageTemplate==0" class="pt-single-small" (dragover)="allowDrop($event)" (drop)="onItemDrop($event)" (dragend)="onDragEndOfTemplate($event)" (dragleave)="onDragLeave($event)"></div>
        <div id="1" *ngIf="page.pageTemplate==1" class="pt-single-big" (dragover)="allowDrop($event)" (drop)="onItemDrop($event)" (dragleave)="onDragLeave($event)"></div>
        <div id="2" *ngIf="page.pageTemplate==2" class="pt-triple">
          <div id = "onDropTre1" class="tri1"(dragover)="allowDrop($event)" (drop)="onItemDrop($event)" (dragleave)="onDragLeave($event)"></div>
          <div id = "onDropTre2" class="tri2"(dragover)="allowDrop($event)" (drop)="onItemDrop($event)" (dragleave)="onDragLeave($event)"></div>
          <div id = "onDropTre3" class="tri3"(dragover)="allowDrop($event)" (drop)="onItemDrop($event)" (dragleave)="onDragLeave($event)"></div>
        </div>


      </div>
    </div>



  </div>




</div>

<div id="spreadsPaginator" class="paginator">
<pagination-template  #p="paginationApi"

                     (pageChange)="p2 = $event">


  <div class="ngx-pagination">
    <div id = "previous" class="ngx-pagination  marginTop" [class.disabled]="p.isFirstPage()">
      <a (click)="previousClick(p)" class="naviItem"> << </a>

    </div>




    <div id={{page.value}} *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value" class="marginTop">
      <a (click)="onPage(p, page)" *ngIf="p.getCurrent() !== page.value" class="naviItem">
        {{ page.label }}
      </a>
      <div class="ngx-pagination" *ngIf="p.getCurrent() === page.value">
        {{ page.label }}
      </div>
    </div>

    <div id="next" class="ngx-pagination" [class.disabled]="p.isLastPage()" class="marginTop">
      <a *ngIf="!p.isLastPage()" (click)="nextClick(p)" class="naviItem"> >> </a>
    </div>


    <div id="changePage" >
       Page: <input style = "width: 30px" (keyup)="onKeyUp(Number(titleInput.value))"  #titleInput class="pageNoInput"/>
      <button (click)="changePage(p)" class="buttonGo">GO!</button>
    </div>
    <label style="margin-left: 10px" class="marginTop">Items per page:
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (ngModelChange)="goToFirstPage(p)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </label>
  </div>
</pagination-template>
</div>


