<div class="scrollable">



  <div class="gallery" cdkDropList (cdkDropListDropped)="drop2($event)">



        <div class="gallery-item double" *ngFor="let item of data | paginate: { itemsPerPage: itemsPerPage, currentPage: p2 }; index as i"
             [class.page-right]="item.pages.length==1 && item.pages[0].orientation==1" cdkDrag>
              <div class="page" *ngFor="let page of item.pages; first as isFirst; last as isLast" [class.border-right]="isFirst && !isLast">

                <img *ngIf="page.orientation==0 || (isFirst && item.pages.length>1)" src="/assets/img/leftpage.png" class="image-left"/>
                <img *ngIf="page.orientation==1 || (isLast && item.pages.length>1)" src="/assets/img/rightpage.png" class="image-right"/>

                    <div *ngIf="page.pageTemplate==0" class="pt-single-small" (dragover)="allowDrop($event)" (drop)="onItemDrop($event)"></div>
                    <div *ngIf="page.pageTemplate==1" class="pt-single-big" (dragover)="allowDrop($event)" (drop)="onItemDrop($event)"></div>
                    <div *ngIf="page.pageTemplate==2" class="pt-triple">
                      <div class="tri1"(dragover)="allowDrop($event)" (drop)="onItemDrop($event)"></div>
                      <div class="tri2"(dragover)="allowDrop($event)" (drop)="onItemDrop($event)"></div>
                      <div class="tri3"(dragover)="allowDrop($event)" (drop)="onItemDrop($event)"></div>
                    </div>


              </div>
        </div>



  </div>




</div>

<pagination-template #p="paginationApi"

                     (pageChange)="p2 = $event">


  <div class="ngx-pagination">
    <div class="ngx-pagination" [class.disabled]="p.isFirstPage()">
      <a (click)="p.previous()"> << </a>

    </div>




    <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
      <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
        {{ page.label }}
      </a>
      <div class="ngx-pagination" *ngIf="p.getCurrent() === page.value">
        {{ page.label }}
      </div>
    </div>

    <div class="ngx-pagination" [class.disabled]="p.isLastPage()">
      <a *ngIf="!p.isLastPage()" (click)="p.next()"> >> </a>
    </div>


  <div>go to page: <input style = "width: 30px" (keyup)="onKeyUp(Number(titleInput.value))"  #titleInput/>
    <button (click)="changePage(p)">GO!</button>
  </div>
  <label style="margin-left: 10px">Items per page:
    <select [(ngModel)]="itemsPerPage">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>
  </label>
  </div>
</pagination-template>


