<div class="main">
  <app-flatplantoolbar class="flatToolbar"></app-flatplantoolbar>
  <div class="layout">

    <div class="publications">
      <div>

          <app-lazyspreadsscope2 *ngIf="basic"></app-lazyspreadsscope2>
          <app-printpreview *ngIf="print"></app-printpreview>
      </div>
    </div>

    <div class="content" *ngIf="contentVisible==false">
      <app-bucketsgrid class="fiftyPercentHeight bucketsGrid"></app-bucketsgrid>
      <app-templatesgrid class="fiftyPercentHeight"></app-templatesgrid>
    </div>

  </div>
</div>
