<dx-tree-list
  id="buckets"
  [dataSource]="bucketsFlatList"
  rootValue="-1"
  keyExpr="id"
  [showRowLines]="true"
  [showBorders]="true"
  parentIdExpr="parentId"
  [columnAutoWidth]="true"
  focusedRowEnabled="true">



  <dxi-column dataField="text" caption="Label" cellTemplate="labelTemplate"></dxi-column>

  <div id="labelTemplate" draggable="true" (drag)="onDragStart($event, options.text)" (dragend)="onDragEnd($event)" *dxTemplate="let options of 'labelTemplate'">
    {{options.text}}
  </div>

<!--  <dxi-column dataField="Full_Name"></dxi-column>-->
<!--  <dxi-column dataField="City"></dxi-column>-->
<!--  <dxi-column dataField="State"></dxi-column>-->
<!--  <dxi-column dataField="Mobile_Phone"></dxi-column>-->
<!--  <dxi-column dataField="Hire_Date" dataType="date"></dxi-column>-->
</dx-tree-list>
